:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;  
  width: 100%;
  height: 100vh;
}

#title {
  position: absolute;
  z-index: 1;
  color: black;
  margin-left: 10px;
}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.map-display {  
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

.stamp-image {
  width: 200px;
  height: 200px;
}

/* .stamped-icon {} */

.not-stamped-icon { 
  filter: grayscale(100%) opacity(70%);
}

.stamp-detail {
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
}

.collection {
  position: absolute;
  margin-top: 50px;
  margin-left: 10px;
}

.current-position-button {
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  margin-left: 10px; 
}

.collection-button {
  position: absolute;
  z-index: 1;
  margin-top: 80px;
  margin-left: 10px; 
}
